/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons {
  -moz-appearance: spinner;
  cursor: default;
}

.spinbuttons-button {
  min-width: 13px;
  min-height: 11px;
  margin: 0 !important;
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
}

.spinbuttons-button > .button-box {
  border: 0;
}

.spinbuttons-button:hover:active {
  border: 2px solid;
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

.spinbuttons-button[disabled="true"] {
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow !important;
}

.spinbuttons-up {
  -moz-appearance: spinner-upbutton;
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#up");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#up-dis");
}

.spinbuttons-down {
  -moz-appearance: spinner-downbutton;
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#dn");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#dn-dis");
}

@media (prefers-color-scheme: dark) {
  spinbuttons,
  .spinbuttons-up,
  .spinbuttons-down {
    -moz-appearance: none;
  }
  
  .spinbuttons-button {
    padding: 6px;
    -moz-border-top-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-right-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-bottom-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-left-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    background-color: rgb(73, 73, 73);
  }

  .spinbuttons-button:hover:active {
    -moz-border-top-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-right-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-bottom-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-left-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    background-color: rgb(23, 23, 23);
  }
  
  .spinbuttons-button[disabled="true"] {
    border: 2px solid;
    -moz-border-top-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-right-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-bottom-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-left-colors: rgba(0, 0, 0, 0.6) transparent !important;
  }
}