/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* :::::::::: button :::::::::: */

button {
  -moz-appearance: button;
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  color: ButtonText;
  text-shadow: none;
}

.button-box {
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline-start: 3px;
  padding-inline-end: 4px;
}

.button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight transparent;
}

button:-moz-focusring > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* .......... default state .......... */

button[default="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[open="true"],
button[checked="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow transparent;
}

button:hover:active > .button-box:-moz-system-metric(windows-classic),
button[open="true"] > .button-box:-moz-system-metric(windows-classic),
button[checked="true"] > .button-box:-moz-system-metric(windows-classic) {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 3px;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow !important;
  color: GrayText;
}

button[disabled="true"]:-moz-system-metric(windows-classic) {
  color: ThreeDShadow;
  text-shadow: 1px 1px ThreeDHighlight;
}

button[disabled="true"] > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  padding-inline-start: 3px !important;
  padding-inline-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  margin: 0;
  border: none;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: none !important;
  margin: 1px;
  background-color: transparent;
  border: none;
  width: 11px;
  height: 11px;
}

.button-menubutton-dropmarker[open="true"] {
  margin-top: 2px;
  margin-bottom: 0px;
  margin-inline-start: 2px;
  margin-inline-end: 0px;
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

button[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/tree/twisty.svg#clsd");
  min-width: 0px !important;
  background-color: transparent;
}

button[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty.svg#open");
}

@media (-moz-os-version: windows-win10) {
  button[type="disclosure"] {
    list-style-image: url("chrome://global/skin/tree/twisty-10.svg#clsd");
  }
  
  button[type="disclosure"][open="true"] {
    list-style-image: url("chrome://global/skin/tree/twisty-10.svg#open");
  }
}

@media (prefers-color-scheme: dark) {
  button {
    -moz-appearance: none;
    border-radius: 3px;
    background-color: rgb(73, 73, 73);
    background-image: linear-gradient(rgba(128,128,128,0.4) 30%, rgba(128,128,128,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(128,128,128,0.1) 100%);
    color: rgb(255, 255, 255);
    -moz-border-top-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-right-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-bottom-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    -moz-border-left-colors: rgb(23, 23, 23) rgb(150, 150, 150);
    padding: 0 3px;
  }

  button:focus {
    -moz-border-top-colors: rgb(47, 138, 241);
    -moz-border-right-colors: rgb(47, 138, 241);
    -moz-border-bottom-colors: rgb(47, 138, 241);
    -moz-border-left-colors: rgb(47, 138, 241);
  }

  button:-moz-focusring > .button-box {
    border: 1px dotted rgb(200,200,200);
  }

  button[default="true"] {
    -moz-border-top-colors: rgb(23, 23, 23) rgb(175, 175, 175);
    -moz-border-right-colors: rgb(23, 23, 23) rgb(175, 175, 175);
    -moz-border-bottom-colors: rgb(23, 23, 23) rgb(175, 175, 175);
    -moz-border-left-colors: rgb(23, 23, 23) rgb(175, 175, 175);
  }

  button:hover:active,
  button[open="true"],
  button[checked="true"] {
    background-color: rgb(23,23,23);
    color: rgb(255, 255, 255);
  }

  button:hover:not(:active):not([disabled=true]) {
    background-color: rgb(96, 96, 96);
    color: rgb(255, 255, 255);
  }

  button[disabled="true"] {
    -moz-border-top-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-right-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-bottom-colors: rgba(0, 0, 0, 0.6) transparent !important;
    -moz-border-left-colors: rgba(0, 0, 0, 0.6) transparent !important;
    background-color: rgb(62,62,62);
    background-image: none;
    color: GrayText;
  }

  .button-menu-dropmarker,
  .button-menubutton-dropmarker {
    -moz-appearance: none !important;
    margin: 1px;
    background-color: transparent;
    border: none;
    width: 11px;
    height: 11px;
  }
}
